* {
	margin: 0;
	padding: 0;
    list-style: none;
	transition: all .1s ease-in;
    box-sizing: border-box;
}

html {
    height: 100%;
}

html, body {
    min-height: 100%;
}

body {
    background-color: #309acd;
    font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
    min-height: 100%;
    color: #fff;
    border: 15px solid #2782ad;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.weather {
    width: 75%;
    margin: 0 auto;
    max-width: 700px;
}

.container {
    padding: 40px 0 20px;
}

h1 {
   font-weight: 700;
   font-size: 30px;    
}

.city {
   list-style-type: none;
   border: 3px solid #FFF;
   background-color: #FFF; 
   font-size: 0;    
}

.city:hover > li {
   opacity: 0.5;
}

.city li {
    display: inline-block; 
    border: 3px solid #FFF;
    text-align: center;
    padding: 15px 0;
    font-size: 22px;    
}

.city > li:hover {
    opacity: 1;
}

.city li.one {
    width: 25%;
}

.city li.two {
    width: 50%;
} 

.city li.four {
    width: 100%;
}

.city li:nth-child(1) {
   background-color: #309acd;
}

.city li:nth-child(2) {
   background-color: #30cdcd; 
}

.city li:nth-child(3) {
   background-color: #9a669a;
}

.city li:nth-child(4) {
background-color: #c34646;
}

.city li:nth-child(5) {
  background-color: #e36749;
}

.city li:nth-child(6) {
 background-color: #ffcd66;   
}

.city li:nth-child(7) {
   background-color: #9acd9a;
}

.city li:nth-child(8) {
  background-color: #669a9a; 
}

.city li:nth-child(9) {
   background-color: #cd669a; 
}

.city li:nth-child(10) {
 background-color: #309a66; 
}

.city li:nth-child(11) {
 background-color: #66669a;   
}

.text {
    margin: 10px 0;
    color: #fff;
    opacity: 0.7;
}

.text i {
    font-size: 30px;
}

.item {
    margin: 10px 0;
    font-size: 20px;
}



  

